@media screen and (min-width: 901px) {
  .home__wp .items .wrap {
    height: 28.22878vw;
    max-height: 306px;
  }

  .home__search-category .items li {
    width: calc((99% / 3) - 45px);
  }
}

@media screen and (min-width: 1025px) {
  .site-content {
    padding-top: 134px;
  }
}

.main-visual .title-main {
  line-height: 1.5;
}

.factoridge_mv_img {
  max-width: 580px;
  width: 100%;
  margin: 18px auto 0;
}

.mn_title_l {
  text-align: left;
  display: block;
  margin-right: 40px;
}

.mn_title_r {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.mv_h1 {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 400px) {
  .mn_title_l {
    margin-right: 20px;
  }

  .main-visual .title-main {
    font-size: clamp(21px, 5.33333vw, 40px);
  }
}

.bnr-contact .title {
  font-size: 2.3rem;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.site-header .icon-size {
  height: 35px;
}

.g-nav-pc .child li:not(:last-child) {
  border-bottom: solid 0px #831820;
}

.fs-09em {
  font-size: 0.9em;
}

.fs-08em {
  font-size: 0.8em;
}

.fs-07em {
  font-size: 0.7em;
}

.fs-06em {
  font-size: 0.6em;
}

.fs-11rem {
  font-size: 1.1rem !important;
}

.fs-12rem {
  font-size: 1.2rem !important;
}

.fs-13rem {
  font-size: 1.3rem !important;
}

.fs-20rem {
  font-size: 2rem !important;
}

.fs-28rem {
  font-size: 2.8rem !important;
}

.fs-30rem {
  font-size: 3rem !important;
}

.fs-42rem {
  font-size: 4.2rem !important;
}

.fs-43rem {
  font-size: 4.3rem !important;
}

.fs-44rem {
  font-size: 4.4rem !important;
}

.fs-45rem {
  font-size: 4.5rem !important;
}

.fs-46rem {
  font-size: 4.6rem !important;
}

.footer_txt {
  color: #ffffff;
  font-size: 10px;
  font-size: 1rem;
}

.search-wrapper {
  position: static;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.search-wrapper.active .input-holder {
  margin-right: 10px;
  margin-left: 10px;
  height: 50px;
  border-radius: 50px;
  width: 200px;
}

.search-wrapper .input-holder .search-input {
  height: 50px;
}

.search-wrapper.active .input-holder .search-icon {
  width: 50px;
  height: 50px;
}

.header_cta {
  padding-right: 25px !important;
  padding-left: 20px !important;
}

.site-header__upper .btn-set>p {
  padding-left: 7px;
  margin: 0 10px 0 0;
}

@media screen and (max-width: 1024px) {
  .search-wrapper.active .input-holder {
    margin-right: 0;
    margin-left: 0;
    width: 250px;
    margin-bottom: 20px;
  }
}

.search-container li+li::before {
  background: #A50005;
}

@media screen and (min-width: 751px) {
  .column_detail_bnr_wpindex_pc {
    margin-top: 40px;
  }

  .column_detail_bnr_wpindex_sp {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .column_detail_bnr_wpindex_pc {
    display: none;
  }

  .column_detail_bnr_wpindex_sp {
    margin-top: 30px;
    text-align: center;
  }
}

.column_bnr_service_lp {
  margin-top: 40px;
  display: block;
}

@media screen and (max-width: 750px) {
  .column_bnr_service_lp {
    margin-top: 30px;
  }
}

.blog_detail .related__box {
  width: calc(100% / 3 - 10px);
  text-decoration: none;
}

.blog_detail .related__box .related_img {
  height: 120px;
  overflow: hidden;
}

.blog_detail .related__box img {
  object-fit: cover;
  height: 120px;
  width: 100%;
}

.blog_detail .related__box:not(:first-child) {
  margin-left: 15px;
}

.blog_detail .related__box_title {
  padding: 10px;
  background: #fdebe5;
  font-weight: bold;
  font-size: 16px;
  color: #E60011;
}

.blog_detail .related .ttl-secondary {
  margin-top: 40px;
  font-size: 18px;
  background: #E60011;
  color: #fff;
  text-align: center;
}

@media (max-width: 768px) {
  .blog_detail .related .ttl-secondary {
    margin-top: 4em;
    font-size: 14px;
  }

  .blog_detail .related__box {
    width: 100%;
  }

  .blog_detail .related__box:not(:last-child) {
    margin-bottom: 20px;
  }

  .blog_detail .related__box:not(:first-child) {
    margin-left: 0;
  }
}

.blog_detail .related h2 {
  padding: 10px 20px;
  margin-bottom: 20px;
}

.blogcard {
  line-height: 1;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  word-wrap: break-word;
  box-shadow: 0 0 10px 6px rgba(0, 0, 0, .025);
}

.blogcard a {
  text-decoration: none;
  opacity: 1;
  transition: all 0.2s ease;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}

.blogcard a:hover {
  opacity: 0.6;
}

.blogcard_thumbnail {
  width: 30%;
  margin-right: 15px;
}

.blogcard_title {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.4;
  padding-bottom: 10px;
  color: #000;
}

.blogcard_excerpt {
  font-size: 0.85em;
  line-height: 1.6;
}

.blogcard_excerpt p {
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
}

.blogcard_content {
  width: calc(100% - 30% - 15px);
}

@media screen and (max-width: 768px) {
  .blogcard_title {
    font-size: 0.95em;
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .blogcard_thumbnail {
    width: 100%;
    margin-right: 0px;
  }

  .blogcard_content {
    width: 100%;
  }
}

.bnrArea {
  position: fixed;
  right: 0;
  bottom: 100px;
  transition: .3s;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  width: 15%;
  /* display: none; */
}

@media screen and (max-width: 1279px) {
  .bnrArea {
    display: none;
  }
}

.bnrArea a {
  display: block;
  transition: all .3s;
}

.bnrArea a:hover {
  opacity: .7;
}

.bnrArea a:first-child {
  margin-bottom: 30px;
}

.bnrArea.active {
  opacity: 1;
  visibility: visible;
}

.bnrArea.stop {
  position: absolute;
  top: -800px;
  bottom: auto;
  opacity: 0;
}
.bnr-contact a:last-child{
  margin-top: 20px;
  display: block;
}